/* http://www.colourlovers.com/palette/301154/Influenza */

* {
    font-family: 'Open Sans', sans-serif;
    color: #F07241;
}

.cover-container {
    background-color: #300030;
    background-image: url("../img/bg.png");
    background-blend-mode: overlay;
}